.additional-info {
  border: .6px solid #a2a2a2;
  width: 280px;
  height: 400px;
  font-size: larger;
  border-radius: 5px;
  padding: 10px;
  top: 100px;
  bottom: 50px;
  right: 30px;
  position: fixed;

}

.skill-search-bar {
  border: 1px solid black;
  padding: 20px;
  width: 200px;
  font-size: small;
  border-radius: 5px;
}
