.nav-header {
  background: white url("./img/background-photo.jpg") no-repeat center center / cover;
  background-color: white;
  min-height: 400px;
  padding: 100px;
  color: black;
  font-size: larger;
}

.header{
  font-family: 'Satisfy', cursive;
  font-size: 100px;
  margin-right: 60px;
  margin-top: 0;
}
.search-bar {
  border: 2px solid black;
  padding: 20px;
  width: 850px;
  font-size: larger;
  border-radius: 5px;
}

.search-bar input[type="text"] {
    position: relative;
}

input { font-family: 'FontAwesome'; }

.fixed-nav-header {
  height: 70px;
  padding: 10px;
  color: #212121;
  position: fixed;
  width: 100%;
  top: 0;
  background: linear-gradient(to bottom, rgb(160, 158, 158), rgb(160, 158, 158),rgb(255, 255, 255) 100%);
}

.fixed-nav-header .header{
  font-size: 50px;
  float: left;
  margin-right: 20px;
}

