.nav-header {
  background: white url("./img/background-photo.jpg") no-repeat center center / cover;
  background-color: white;
  height: 400px;
  padding: 100px;
  color: black;
  font-size: larger;
}

.header-content {
  margin-right: 60px;
}
.search-bar {
  border: 2px solid black;
  padding: 20px;
  width: 850px;
  font-size: larger;
  border-radius: 5px;
}

.search-bar input[type="text"] {
    position: relative;
}

input { font-family: 'FontAwesome'; } /* This is for the placeholder */

.fixed-nav-header {
  height: 100px;
  padding: 10px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  background: linear-gradient(to bottom, rgb(160, 158, 158), rgb(160, 158, 158),rgb(255, 255, 255) 100%);
}

.fixed-nav-header .search-bar {
  float: right;
  margin: 15px 30px 0 0;
  width: 300px;
}

.fixed-nav-header .header{
  float: left;
  margin: 30px 30px 0;
}

