body .modal {
  position: fixed;
  top: 100px;
  left: 100px;
  right: 100px;
  bottom: 100px;
  border: 1px solid #ccc;
  background: #ccc;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  display: block;
  z-index: 100;
}

.closeButton {
  right: 100px;
  position: fixed;
  background-color: #ccc;
  border: none;
  color: white;
  float: right;
  margin-top: -15px;
}

.job-title-skills {
  text-transform: uppercase;
  text-align: center;
  font-size: larger;
  color: white;
}

.table-contents {
  text-transform: capitalize;
  font-size: smaller;
  display: inline-block;
  padding: 5px;
  margin: 5px;
}

#importance {
  font-color: black;
  font-size: larger;
  margin-right: 5px;
}

#skillname {
  text-transform: uppercase;
  color: black;
  margin-right: 5px;
}